<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.baseservice.domain.system.mapper.RolePermissionMapper">
    <insert id="insertAll">
        INSERT INTO
        t_role_permission(rid, pid)
        VALUES
        <foreach collection="list" separator="," index="index" item="item" >
            (
            #{item.rid},
            #{item.pid}
            )
        </foreach>
    </insert>
    <select id="selectPermissionAll" resultType="com.yss.baseservice.application.system.dto.RoleNumberPermissionUrlDto">
        SELECT
            r.number AS role,
            p.url AS permission
        FROM
            t_role_permission rp
            LEFT JOIN t_role r ON r.id = rp.rid
            LEFT JOIN t_permission p ON p.id = rp.pid
        WHERE
            p.is_menu = 1
    </select>
</mapper>